extends layout

block content
  h1 Flok's API: URL Shortener
  p Pass a URL as a parameter and receive a shortened URL in the JSON response
  h2 Example creation Usage
  code https://urlshortener-flok.glitch.me/new/www.google.com
  br
  h2 Expected creation outcome
  code {'originalUrl': "www.google.com", "shortUrl": "40116", dateAdded: "2017-09-09T18:00:27.649Z"}
  h2 Usage
  code https://urlshortener-flok.glitch.me/40116
  p will redirect to:
  code www.google.com
